<% layout('/layouts/boilerplate') %>

    <body>
        <h1>New campground</h1>
        <form action="/campgrounds" method="POST">
            <div>
                <label for="title">Name</label>
                <input type="text" id="title" name="campground[title]">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="campground[location]">
            </div>
            <button>Create new campground</button>
            <a href="/campgrounds">cancel</a>
        </form>